*{
	margin:0;
	padding:0;
	display:normal;
}
body{
	background-image:url('./../img/background250.png');
}
textarea{
	max-width:100%;
}
#display-base{
	position:fixed;
	top:10px;
	left:10px;
	height:calc(100% - 20px);
	width:calc(60% - 20px);
	border:1px solid black;
}
#options{
	position:fixed;
	top:10px;
	right:10px;
	height:calc(80% - 20px);
	width:calc(40% - 20px);
	border:1px solid red;
	background-color:rgba(255,255,255,0.9);
	padding:5px;
}
#options input{
	width:80px;
}
#options div{
	border-top:1px solid black;
	padding-bottom:5px;
}
#options label{
	color:blue;
}
#proprieades-go{
	display:none;
}
#terminal{
	position:fixed;
	bottom:10px;
	right:10px;
	height:calc(20% - 20px);
	width:calc(40% - 20px);
	border:1px solid red;
	background-color:rgba(255,255,255,0.9);		
}
#terminal content{
	position:absolute;
	height:calc(100% - 20px);
	
}
#terminal #imp{
	position:absolute;
	bottom:0;
	height:20px;
	width:100%;
	padding:0;
	margin:0;
}