/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/04/2017, 17:22:57
    Author     : Danie
*/

body{
    margin: 0;
    padding: 0;
}
svg{
  position: absolute;
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  border: solid 3px black;
  background-color: white;
}
#grade{
  stroke:rgb(255,0,0);
  stroke-width:1;
}
#inert{
  fill:white;
  stroke-width:1;
  stroke:rgb(0,0,0);
}
#path{
  stroke:grey;
  fill:grey;
  stroke-width:1;
  font-size: 12;
}
#player{
  fill:blue;
}
#npc{
  fill:green;
}
#alertBox{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    height: 500px;
    width: 500px;
    padding: 10px;
}
#alertBack{
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    background-image: url("../img/background250.png");
    height: 100%;
    width: 100%;
    
}