*{
	margin:0;
	padding:0;
	display:normal;
}

a:hover{
	color:green;
	cursor:pointer;
}
body{
	margin-top:50px;
	margin-bottom:50px;
}

header{
	background-color:white;
	top:0;
	left:0;
	width:100%;
	position:fixed;
	border-bottom:1px solid green;
}
dado{
	display:block;
	min-height:80px;
	min-width:80px;
	padding:1px;
	margin:2px;
	float:left;
	border:1px solid black;
	border-radius:5px;
	overflow:hidden;
}
dado valor{
	display:block;
	border-radius:5px;
	border: 1px solid black;
	min-height:50px;
	overflow:hiden;
	white-space:pre;
}
/*
dado valor:hover{
	overflow:scroll;
	white-space:pre-wrap;
}
*/
dado tag{
	color:blue;
}
/*
dado tag:hover{
	color:red;
	cursor:pointer;
}
*/
dado editar{
	display: block;
	/*white-space:*/
}
.submenu{
	position:fixed;
	right:0;
	padding:3px;
	bottom:50px;
	color:white;
	border-radius:5px;
	background:black;
}
.submenu a:hover{
	color:red;
	cursor:pointer;
}
footer{
	background-color:white;
	position:fixed;
	bottom:0;
	width:100%;
	display:block;
	width:100%;
	border-top:1px solid green;
	float:right;
}
#popUp{
	position:fixed;
	display:none;
	top:0;
	right:0;
	width:100%;
	height:100%;

}
#popUP-base{
	position:fixed;
	top:0;
	right:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,0.5);	
}
#popUp-content{
	position:fixed;
	border: 1px solid black;
	width:500px;
	right:calc(50% - 250px);
	top:top(50% - 250px);
	background-color:white;
	height:500px;
	padding:10px;
	margin:10px;
}
#fNotaCabecario{
	text-align:center;
	font-size:30;
}
#fNotaDado{
	width:100%;
	height:350px;
}
#fNotaTag{
	width:100%;
}
#fNotaAplic{
	padding: 3px;
	padding-left:10px;
	padding-right:10px;
	margin: 3px;
	text-align:center;
}